doctype html
html
  head
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/editstyle.css')
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/default.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    //script.
    //  $(function () {  
    //    $("#updateButton").click(function() {
    //      jQuery.each($("iframe"), function() {
    //        $(this).attr({
    //          src: $(this).attr("src")
    //        });
    //      });
    //      return false;
    //    });
    //  });
  body.container-fluid
    center.row
      a.col-md-4.button#backButton(href="/") Back to List
      form.col-md-4#formUpdatenote(name="updatenote",method="post",action="/updatenote")
        input(type="hidden" name="notename" value="#{note.notename}")
        input(type="hidden" name="notetitle" value="#{note.notetitle}")
        button.button#updateButton(type="submit") Save/Update
      a.col-md-4button#viewButton(href="/note/#{note.notename}") Display Note
    section.row.full-height
      textarea.col-md-6.full-height#pad(name="notetext", form="formUpdatenote")= note.text
      iframe.col-md-6.full-height#noteframe(src="/note/#{note.notename}",style="position:absolute;padding:0px")
    
    

